

.section-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    text-align: justify;
}

.section-details-content {
    display: flex;
    flex-direction: column;
}

/* .section-details-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
} */